.admin-icons {
    font: normal normal normal 25px/1 FontAwesome;
    float: right;
    position: absolute;
    padding: 2px;
    padding-left: 3px;
    padding-right: 5px;
    background-color: #f5f5f5;
    border-radius: 5px;
    margin: 3px;
}

.admin-icons .fa-minus-circle {
    color: #ff0000;
    margin-right:5px;
}

.admin-icons .fa-pencil-square {
    color: #00abff;

}

.create-officer {
        background-color: #00abff;
        color: #ffffff;
        font-weight: 600;
        padding: 10px;
        width: 145px;
        border-radius: 10px;
        position: fixed;
        top: 70px;
        right: 10px;
        z-index: 5;
}