<header class="header-menu">
	<nav class="menu">
		<div class="menu-cont">
			<nav class="navbar navbar-inverse navbar-toggleable-md">
				<div class="container-fluid">
					<div class="navbar-header">
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" (click)="isCollapsed = !isCollapsed"
						 [attr.aria-expanded]="!isCollapsed" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<!-- <a class="navbar-brand" href="#">WebSiteName</a> -->
					</div>
					<div class="collapse navbar-collapse" id="myNavbar" [ngbCollapse]="isCollapsed">
						<ul class="navbar-nav">
							<li class="nav-item active">
								<a>Home</a>
							</li>
							<li class="dropdown" ngbDropdown>
								<a class="dropdown-toggle w3-dropdown-content" data-toggle="dropdown" ngbDropdownToggle>
									Our Departament
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="Our Department.html">Our Department</a>
									</li>
									<li>
										<a href="Chief's Message.html">Chief's Message</a>
									</li>
									<li>
										<a href="Fallen Officers.html">Fallen Officers</a>
									</li>
								</ul>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown">
									News and Events
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="News.html">News</a>
									</li>
									<li>
										<a href="Events.html">Events</a>
									</li>
								</ul>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown">
									Get Involved
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a>Page 1-1</a>
									</li>
									<li>
										<a>Page 1-2</a>
									</li>
									<li>
										<a>Page 1-3</a>
									</li>
								</ul>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown">
									Crime Statistics
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a>Page 1-1</a>
									</li>
									<li>
										<a>Page 1-2</a>
									</li>
									<li>
										<a>Page 1-3</a>
									</li>
								</ul>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown">
									Media
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="Media.html">Media</a>
									</li>
								</ul>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown">
									Contact
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a>Page 1-1</a>
									</li>
									<li>
										<a>Page 1-2</a>
									</li>
									<li>
										<a>Page 1-3</a>
									</li>
								</ul>
							</li>
						</ul>

					</div>
				</div>
			</nav>

		</div>
	</nav>
</header>


<header class="header-brand">

	<div class="photo-header">
		<div class="photo-header-cont">
			<div class="logo-comp">
				<div class="shield">
					<img src="assets/img/shield.png">
				</div>
				<h1>Harrison</h1>
				<h2>Police Department</h2>
			</div>
		</div>
	</div>

</header>


<!-- Officers -->

<div class="create-officer" aria-hidden="true" data-toggle="modal" data-target="#officer-create" (click)="modalAddOfficer(content)">Add New Officer</div>
<div class="col-xl-12" id="ID-1">
	<br>

	<div class="container">
		<div class="col-md-6" id="ID-2">
			<span class="bread-crumbs-blue">Our Department </span>
			<i class="fa fa-chevron-right" aria-hidden="true"></i>
			<span class="bread-crumbs-black"> Police Officers</span>
		</div>
	</div>

	<br>
</div>

<div class="col-xl-12" id="ID-3">
	<br>

	<div class="container">
		<div class="row" id="ID-4">
			<!-- @foreach ($captain as $captain) -->
			<div *ngFor="let captain of captains" class="col-xl-3 col-md-3 col-sm-6 officer-block">
				<div class="officer-info-div col-sm-12">
					<div class="col-md-12 officer-info-div" id="ID-4">
						<div class="admin-icons">
							<a (click)="delete(captain.id, captain.id_rank)" class="btn-delete">
								<i class="fa fa-minus-circle"></i>
							</a>
							<i class="fa fa-pencil-square btn-officer-new" (click)="modalEditOfficer(contentedit, captain.id)"
							></i>
						</div>
						<img [src]="imagePath + captain.photo" class="officer-image" aria-hidden="true" data-toggle="modal" data-target="#officer-edit">
					</div>
					<div class="container officer-name-div">
						<span class="officer-name">{{captain.name}}</span>
						<br>
						<span *ngIf="captain.id_rank === 2" class="officer-position">captain</span>
						<span *ngIf="captain.id_rank === 1" class="officer-position">Officer</span>
					</div>
					<div class="container officer-info-div officer-info-block" style="padding-top:10px; padding-bottom:10px">
						<i class="fa fa-address-card-o" aria-hidden="true"></i>
						<span class="officer-info officer-view-profile"> VIEW PROFILE </span>
						<i class="fa fa-star-o" aria-hidden="true"></i>
						<span class="officer-info"> COMMEND</span>
					</div>
				</div>
			</div>
			<!-- @endforeach -->
			<div id="new-captain"></div>
		</div>
	</div>

	<br>
</div>




<div class="col-xl-12" id="ID-5">
	<br>

	<div class="container">

		<div class="officer-title">Officers Harrison PD
			<i class="fa fa-pencil-square-o" aria-hidden="true" data-toggle="modal" data-target="#officer-title" (click)="modalEdittitle(contentTitle)"></i>
		</div>

		<!-- Modal Title -->
		<ng-template #contentTitle let-c="close" let-d="dismiss" >
		
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Title</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<input type="text" id="title-officers" name="name" class="form-control uppercase numeric" maxlength="50">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save changes</button>
					</div>
				</div>
			
		</ng-template>
		<br>

		<div class="row" id="ID-6">

			<!-- @foreach ($officer as $officer) -->
			<div *ngFor="let officer of officers" class="col-xl-3 col-md-3 col-sm-6 officer-block">
				<div class="officer-info-div col-sm-12">
					<div class="col-md-12 officer-info-div" id="ID-4">
						<div class="admin-icons">
							<a (click)="delete(officer.id, officer.id_rank)" class="btn-delete">
								<i class="fa fa-minus-circle"></i>
							</a>
							<i class="fa fa-pencil-square btn-officer-data" (click)="modalEditOfficer(contentedit, officer.id)"
							 data-id="{{officer.id }}"></i>
						</div>
						<img [src]="imagePath + officer.photo"  class="officer-image" aria-hidden="true" data-toggle="modal" data-target="#officer-edit">
					</div>
					<div class="container officer-name-div">
						<span class="officer-name">{{officer.name }}</span>
						<br>
						<span *ngIf="officer.id_rank === 2" class="officer-position">captain</span>
						<span *ngIf="officer.id_rank === 1" class="officer-position">Officer</span>
					</div>
					<div class="container officer-info-div officer-info-block" style="padding-top:10px; padding-bottom:10px">
						<i class="fa fa-address-card-o" aria-hidden="true"></i>
						<span class="officer-info officer-view-profile"> VIEW PROFILE </span>
						<i class="fa fa-star-o" aria-hidden="true"></i>
						<span class="officer-info"> COMMEND</span>
					</div>
				</div>
			</div>
			<!-- @endforeach -->
			<div id="new-officer"></div>

			<!-- Modal Create Officer -->
			<ng-template #content let-c="close" let-d="dismiss" id="officer-create">

					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Create Officer</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">

							<div class="container">
								<form autocomplete="off" id="create-officer-form" action="/compras/refacciones" method="post" data-parsley-validate>
									<div class="form-group">
										<label class="control-label" for="clave">Photo
											<span class="required">*</span>
										</label>
										<!-- image preview -->
										<div class="d-flex justify-content-center">
											<img *ngIf="avatar" [src]="avatar" id="image-logged" alt="user.png" class="img-circle ">
											<img *ngIf="!avatar" [src]="imagePath + officer.photo" id="image-logged" alt="user.png" class="img-fluid">
										  </div>
										<span id="officer-file-btn" class="btn btn-info btn-block fileinput-button">
											<i class="glyphicon glyphicon-file"></i>
											<span class="btn-text">Select Image</span>
											<input id="file" type="file"   (change)="filechangeEvent($event)" name="file-photo" required="" accept="image/x-png,image/gif,image/jpeg" class="form-control upload-carta-proveedor-input"
											 title="" data-parsley-group="general" data-parsley-required-message="Officer's photo is mandatory">
										</span>
									</div>
									<input type="hidden" name="_token" value="{{ 'srf_token' }}">
									<!-- input name -->
									<div class="form-group">
										<label class="control-label" for="nombre">Name
											<span class="required">*</span>
										</label>
										<div class="">
											<input type="text" [(ngModel)]="officer.name" id="officer-name" name="name" class="form-control uppercase" required="" pattern="[A-ZÑÜa-zñü][A-ZÑÜa-zñü.'\s/-]{0,}[A-ZÑÜa-zñü.]"
											 data-parsley-group="general" data-parsley-required-message="Officer's name is mandatory" data-parsley-trigger="blur"
											 maxlength="50">
										</div>
									</div>
									<!-- input rank -->
									<div class="form-group">
										<label class="control-label" for="nombre">Rank
											<span class="required">*</span>
										</label>
										<div class="">
											<select [(ngModel)]="officer.id_rank"  (change)="rank($event)" name="rank" 
											 data-parsley-trigger="blur" onchange="ConditionalField()">
												<option value="1">Officer</option>
												<option value="2">Captain</option>
											</select>
										</div>
									</div>
									<!-- input division -->
									<div class="form-group">
										<label class="control-label">Division
											<span class="required">*</span>
										</label>
										<div class="">
											<input type="text" id="officer-division" [(ngModel)]="officer.division" name="division" class="form-control uppercase numeric" maxlength="25" data-parsley-group="general"
											 data-parsley-required-message="Officer's division is mandatory" data-parsley-trigger="blur" required="">
										</div>
									</div>
									<!-- textarea bio -->
									<div id="officer-bio-div" class="form-group">
										<label class="control-label">Biography</label>
										<div class="">
											<textarea id="officer-bio" [(ngModel)]="officer.bio" name="officer-bio" class="form-control uppercase numeric"></textarea>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" (click)="d('Cross click')">Close</button>
							<button type="button" id="create-officer" class="btn btn-primary" (click)="CreateOfficer()">Save changes</button>
						</div>
					</div>
			
			</ng-template>




			<!-- Modal Edit Officer -->
			<ng-template #contentedit let-c="close" let-d="dismiss" id="officer-create">
			
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Edit Officer</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">

							<div class="container">
								<form autocomplete="off" id="edit-officer-form" action="" method="post" data-parsley-validate>
									<div class="form-group">
										<label class="control-label" for="clave">Photo
											<span class="required">*</span>
										</label>
										<div class="d-flex justify-content-center">
											<img *ngIf="avatar" [src]="avatar" id="image-logged" alt="user.png" class="img-circle ">
											<img *ngIf="!avatar" [src]="imagePath + officer.photo" id="image-logged" alt="user.png" class="img-fluid">
										  </div>
										<!-- edit image -->
										<span id="officer-file-btn-edit" class="btn btn-info btn-block fileinput-button">
											<i class="glyphicon glyphicon-file"></i>
											<span class="btn-text">Select Image</span>
											<input    id="file-edit" type="file"  (change)="filechangeEvent($event)" name="file-photo" accept="image/x-png,image/gif,image/jpeg" class="form-control upload-carta-proveedor-input"
											 title="" data-parsley-group="general" data-parsley-required-message="Officer's photo is mandatory">
										</span>
									</div>
									<!-- edit name -->
									
									<div class="form-group">
										<label class="control-label" for="nombre">Name
											<span class="required">*</span>
										</label>
										<div class="">
											<input [(ngModel)]="officer.name" type="text" id="officer-name-edit" name="name-edit" class="form-control uppercase" required="" pattern="[A-ZÑÜa-zñü][A-ZÑÜa-zñü.'\s/-]{0,}[A-ZÑÜa-zñü.]"
											 data-parsley-group="general" data-parsley-required-message="Officer's name is mandatory" data-parsley-trigger="blur"
											 maxlength="50">
										</div>
									</div>
									<!-- edit rank -->
									<div class="form-group">
										<label class="control-label" for="nombre">Rank
											<span class="required">*</span>
										</label>
										<div class="">
											<select [(ngModel)]="officer.id_rank" id="officer-rank-edit" name="rank" required="" data-parsley-group="general" data-parsley-required-message="Officer's rank is mandatory"
											 data-parsley-trigger="blur" onchange="ConditionalEditField	()">
												<option [ngValue]="1">Officer</option>
												<option [ngValue]="2">Captain</option>
											</select>
										</div>
									</div>
									<!-- edit division -->
									<div class="form-group">
										<label class="control-label">Division
											<span class="required">*</span>
										</label>
										<div class="">
											<input [(ngModel)]="officer.division" type="text" id="officer-division-edit" name="division-edit" class="form-control" maxlength="35" data-parsley-group="general"
											 data-parsley-required-message="Officer's division is mandatory" data-parsley-trigger="blur" required="">
										</div>
									</div>
									<input type="text" id="officer-id-edit" name="officer-id" class="form-control" maxlength="25" style="display:none">
									<input type="text" id="officer-photo" name="officer-photo" class="form-control" style="display:none">
									<!-- edit bi -->
									<div id="officer-bio-edit-div" class="form-group">
										<label class="control-label">Biography</label>
										<div class="">
											<textarea [(ngModel)]="officer.bio" id="officer-bio-edit" name="officer-bio-edit" class="form-control uppercase numeric"></textarea>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" (click)="d('Cross click')">Close</button>
							<button type="button" (click)="updateOfficer(officer.id, officer.id_rank)"  id="edit-officer" class="btn btn-primary" >Save changes</button>
						</div>
					</div>
		
			</ng-template>





		</div>
	</div>

	<br>
</div>

<footer class="footer-1">
	<div class="footer-1-cont">

		<div class="container">
			<div class="row">

				<div class="col-footer col-md-4 col-sm-4 col-xs-10">
					<h2>Contact us</h2>
					<ul>
						<a href="#">
							<li>contact@harrisonpd.org</li>
						</a>

						<a href="#">
							<li>116 N Spring St, </li>
						</a>

						<a href="#">
							<li>Harrison, AR 72601 </li>
						</a>

						<a href="#">
							<li>+1 870-741-4636</li>
						</a>

					</ul>
				</div>

				<div class="col-footer col-md-4 col-sm-4 col-xs-10">
					<h2>Get Involved</h2>
					<ul>

						<a href="#">
							<li>Join Our Team</li>
						</a>

						<a href="#">
							<li>Join Our Reserve Team</li>
						</a>

					</ul>
				</div>

				<div class="col-footer col-md-4 col-sm-4 col-xs-10">
					<h2>Stay Connected</h2>
					<ul>

						<a href="#">
							<li>City of Harrison</li>
						</a>

						<a href="#">
							<li>Chamber of Commerce</li>
						</a>

						<a href="#">
							<li>Convention and Visitors Bureau</li>
						</a>

						<figure class="qt-box-logo-footer">
							<img src="assets/img/qt-logo.png" width="185" height="53">
						</figure>

					</ul>
				</div>

			</div>
		</div>

	</div>
</footer>