<header class="header-menu">
  <nav class="menu">
    <div class="menu-cont">
      <nav class="navbar navbar-inverse navbar-toggleable-md">
        <div class="container-fluid">
          <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed"  aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <!-- <a class="navbar-brand" href="#">WebSiteName</a> -->
          </div>
          <div class="collapse navbar-collapse" id="myNavbar" [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav">
              <li class="nav-item active"><a>Home</a></li>
              <li class="dropdown"  ngbDropdown>
                <a class="dropdown-toggle w3-dropdown-content" data-toggle="dropdown" ngbDropdownToggle>
                  Our Departament <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="Our Department.html">Our Department</a></li>
                  <li><a href="Chief's Message.html">Chief's Message</a></li>
                  <li><a href="Fallen Officers.html">Fallen Officers</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                  News and Events <span class="caret"></span>
                </a>
                  <ul class="dropdown-menu">
                    <li><a href="News.html">News</a></li>
                    <li><a href="Events.html">Events</a></li>
                  </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                  Get Involved <span class="caret"></span>
                </a>
                  <ul class="dropdown-menu">
                    <li><a>Page 1-1</a></li>
                    <li><a>Page 1-2</a></li>
                    <li><a>Page 1-3</a></li>
                  </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                  Crime Statistics <span class="caret"></span>
                </a>
                  <ul class="dropdown-menu">
                    <li><a>Page 1-1</a></li>
                    <li><a>Page 1-2</a></li>
                    <li><a>Page 1-3</a></li>
                  </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                  Media <span class="caret"></span>
                </a>
                  <ul class="dropdown-menu">
                    <li><a href="Media.html">Media</a></li>
                  </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                  Contact <span class="caret"></span>
                </a>
                  <ul class="dropdown-menu">
                    <li><a>Page 1-1</a></li>
                    <li><a>Page 1-2</a></li>
                    <li><a>Page 1-3</a></li>
                  </ul>
              </li>
            </ul>

          </div>
        </div>
      </nav>

    </div>
  </nav>	
</header>

<!-- <div>
  <button class="btn btn-warning pull-right" (click)="changeVisibility()">
    Mostrar más <img [ngClass]="status === 'inactive' ? 'glyphicon glyphicon-arrow-down' : 'glyphicon glyphicon-arrow-up'" />
  </button>
  
  <div class="row" [@visibility]="status">
    <div [innerHTML]="moreText"></div>
  </div>
</div> -->