/* ---------------------------------------- HOME ---------------------------------------- */

@font-face {
    font-family: 'icomoon';
    src: url("assets/fonts/icomoon/icomoon.eot?srf3rx");
    src: url("assets/fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("assets/fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("assets/fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("assets/fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  @keyframes logo-intro {
    0% {
      opacity: 1;
      transform: translate(0%, 0%);
    }
    100% {
      opacity: 0;
      transform: translate(0%, 50%);
    }
  }
  
  @keyframes mouse {
    0% {
      opacity: 1;
      transform: translate(0%, -10%);
    }
    100% {
      opacity: .7;
      transform: translate(0%, 20%);
    }
  }
  
  .nav-item, .dropdown { margin-right: 0px;
    
  padding: 17.5px;}
  
  .dropdown:hover { color: #ffffff;
  background-color: #003366;  }
  
  .dropdown:focus { background-color: #003366;}
  
  .dropdown:active { background-color: #003366;}
  
  .dropdown-menu li {display: block;
    background-color: #003366;
      clear: both;
      font-weight: normal;
      line-height: 1.8;
      color: #edd76c;
      white-space: nowrap;
      font-family: "Open Sans", sans-serif;
      font-size: 13.75px;
       }
       .dropdown-menu{
        background-color: #003366 !important;
       }
  
  .dropdown-menu li a { 
    background-color: #003366;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left:20px;
      display: block;
      text-decoration: none;
       }
  
  .tab-menu {padding: 0px}
  
  .nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
      color: #fff;
      cursor: default;
      background-color: #022644;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 25px;
      padding-right: 25px;
  }
  
  /* line 110, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .wow:first-child {
    visibility: hidden;
  }
  
  /* line 114, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .navbar-inverse {
    background-color: transparent;
    border: none;
  }
  
  /* line 119, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .navbar-center {
    margin: 0px auto;
  }
  
  /* line 124, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .navbar .navbar-nav {
    float: none;
    vertical-align: top;
  }
  
  /* line 130, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .navbar .navbar-collapse {
    text-align: center;
  }
  
  /* line 139, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .navbar-inverse .navbar-nav li a {
    color: #a9b5bf;
  }
  
  /* line 144, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .navbar-inverse .navbar-nav .active a {
    background-color: #003366;
    padding: 17.5px;
    color: #ffffff;
  }
  
  .navbar-inverse {
    padding: 0px;
  }
  
  /* line 149, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .navbar-inverse .navbar-nav .open a:focus {
    background-color: #003366;
  }
  
  /* line 157, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .dropdown-menu {
    background-color: #003366;
    margin-top: -3px;
  
  }
  
  /* line 161, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #022644;
    color: #edd76c;
  }
  
  /* line 167, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .navbar-inverse .navbar-toggle {
    border-color: transparent;
  }
  
  /* line 174, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #022644;
    text-transform: uppercase;
  }
  
  /* line 180, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .nav-pills > li > a {
    text-transform: uppercase;
    color: #808080;
  }
  
  /* line 186, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .icon-tabs {
    margin-right: 10px;
  }
  
  /* line 190, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .tab-content {
    padding: 36px 20px 20px 20px;
    margin: 0px 0px;
    overflow: hidden;
  }
  
  @media screen and (max-width: 768px) {
    /* line 190, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
    .tab-content {
      padding: 26px 20px 20px 20px;
    }
  }
  
  /* line 202, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .news-tabs .news-block-home {
    display: block;
    float: none;
    margin: 0px 0px 18px 0px;
    overflow: hidden;
  }
  
  @media screen and (max-width: 768px) {
    /* line 202, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
    .news-tabs .news-block-home {
      margin: 0px 0px 20px 0px;
    }
  }
  
  /* line 211, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .news-tabs .news-block-home .date-tabs {
    display: block;
    float: left;
    margin: 0px 0px 0px 0px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
  
  @media screen and (max-width: 768px) {
    /* line 211, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
    .news-tabs .news-block-home .date-tabs {
      float: none;
      font-size: 12px;
      border-top: 1px solid #b3b3b3;
      color: #b3b3b3;
      padding: 5px 0px 0px 0px;
    }
  }
  
  /* line 227, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .news-tabs .news-block-home p {
    display: block;
    float: left;
    margin: 0px 0px 0px 0px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #808080;
  }
  
  @media screen and (max-width: 768px) {
    /* line 227, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
    .news-tabs .news-block-home p {
      float: none;
    }
  }
  
  /* line 246, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .cont-tabs h3 {
    margin: 0px 0px 20px 0px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #808080;
    text-transform: uppercase;
    color: #022644;
  }
  
  /* line 256, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .cont-tabs p {
    margin: 0px 0px 0px 0px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #808080;
  }
  
  /* line 268, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .header-menu {
    display: block;
    min-height: 56px;
    position: fixed;
    width: 100%;
    z-index: 100;
  }
  
  /* line 275, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .header-menu .menu {
    display: block;
    min-height: 56px;
    background-color: #022644;
  }
  
  /* line 279, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .header-menu .menu .menu-cont {
    display: block;
    max-width: 1171px;
    margin: 0px auto;
  }
  .header-menu .menu .menu-cont nav {
     padding: 0px;
     padding-bottom: 5px;
  }
  
  /* line 288, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .header-brand {
    display: block;
    background-color: black;
    padding: 55px 0px 0px 0px;
  }
  
  @media screen and (max-width: 870px) {
    /* line 288, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
    .header-brand {
      padding: 100px 0px 0px 0px;
    }
  }
  
  @media screen and (max-width: 767px) {
    /* line 288, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
    .header-brand {
      padding: 55px 0px 0px 0px;
    }
  }
  
  /* line 299, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .header-brand .photo-header {
    display: block;
    height: 227px;
    overflow: hidden;
    background-image: url("assets/img/header-photo.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
  
  @media screen and (max-width: 1007px) {
  .container-fluid {
      padding-right: 15px;
      padding-left: 15px;
      margin-left: 0px;
      margin-right: 0px; }
    }
  
  /* line 312, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .header-brand .photo-header-cont {
    max-width: 95%;
    height: 227px;
    display: block;
    overflow: hidden;
    margin: 0px auto;
  }
  
  @media screen and (max-width: 768px) {
    /* line 312, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
    .header-brand .photo-header-cont {
      max-width: 100%;
      margin: 0px 0px;
    }
  }
  
  /* line 324, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .header-brand .logo-comp {
    height: 140px;
    width: 642px;
    margin: 32px 0px 0px 135px;
    background-image: url("assets/img/bg-logo.png");
    background-repeat: no-repeat;
    background-position: 0px 27px;
    position: relative;
  }
  
  @media screen and (max-width: 768px) {
    /* line 324, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
    .header-brand .logo-comp {
      margin: 32px auto 0px auto;
      display: block;
      background-position: -190px 27px;
      width: 342px;
    }
  }
  
  /* line 340, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .header-brand .logo-comp .shield {
    height: 100;
    width: 140px;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    position: absolute;
    z-index: 5;
    top: 0px;
    left: -50px;
  }
  
  @media screen and (max-width: 768px) {
    /* line 340, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
    .header-brand .logo-comp .shield {
      top: 0px;
      left: -10px;
    }
  }
  
  /* line 354, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .header-brand .logo-comp h1 {
    font-family: "Lato", sans-serif;
    font-size: 34px;
    letter-spacing: 2px;
    font-weight: 700;
    color: #edd76c;
    margin: 0px 0px 0px 76px;
    padding: 40px 0px 0px 0px;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 768px) {
    /* line 354, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
    .header-brand .logo-comp h1 {
      font-size: 28px;
      letter-spacing: 1px;
      margin: 0px 0px 0px 110px;
      padding: 50px 0px 10px 0px;
    }
  }
  
  /* line 370, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .header-brand .logo-comp h2 {
    font-family: "Lato", sans-serif;
    font-size: 34px;
    letter-spacing: 2px;
    font-weight: 300;
    color: #edd76c;
    margin: 0px 0px 0px 76px;
    padding: 0px;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 768px) {
    /* line 370, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
    .header-brand .logo-comp h2 {
      font-size: 18px;
      letter-spacing: 1px;
      margin: 0px 0px 0px 110px;
      padding: 0px;
    }
  }
  
  /* line 386, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .header-brand .logo-comp .bg-logo {
    width: 592px;
    height: 104px;
  }
  
  /* line 393, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .home-cover {
    display: block;
    min-height: 479px;
    background-color: #f7f7fa;
    overflow: hidden;
    padding: 50px 0px 50px 0px;
  }
  
  /* line 399, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .home-cover .home-cont {
    display: block;
    max-width: 1171px;
    margin: 0px auto;
    overflow: hidden;
  }
  
  /* line 406, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .home-cover .home-tabs {
    width: 678px;
    min-height: 390px;
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid #efebfc;
    float: left;
    margin: 0px 48px 0px 0px;
  }
  
  @media screen and (max-width: 1024px) {
    /* line 406, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
    .home-cover .home-tabs {
      width: 100%;
      padding: 0px 20px;
      display: block;
      float: none;
      overflow: hidden;
    }
  }
  
  @media screen and (max-width: 480px) {
    /* line 406, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
    .home-cover .home-tabs {
      padding: 0px 20px;
    }
  }
  
  /* line 426, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .home-cover .home-col2 {
    width: 440px;
    float: left;
    margin: 0px 0px 0px 0px;
  }
  
  @media screen and (max-width: 1024px) {
    /* line 426, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
    .home-cover .home-col2 {
      width: 80%;
      margin: 30px auto 0px auto;
      float: none;
    }
  }
  
  @media screen and (max-width: 480px) {
    /* line 426, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
    .home-cover .home-col2 {
      width: 100%;
      padding: 0px 20px 0px 20px;
    }
  }
  
  /* line 441, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .home-cover .home-col2 .title-chief {
    height: 79px;
    display: block;
    background-color: #022644;
    margin: 17px 0px 0px 0px;
    position: relative;
  }
  
  /* line 448, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .home-cover .home-col2 .title-chief h1 {
    font-size: 22px;
    font-weight: 300;
    margin: 0px 0px 0px 220px;
    padding: 12px 0px 0px 0px;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  /* line 457, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .home-cover .home-col2 .title-chief h2 {
    font-size: 15px;
    font-weight: 400;
    margin: 0px 0px 0px 220px;
    padding: 8px 0px 0px 0px;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  /* line 466, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .home-cover .home-col2 .title-chief .photo-chief {
    width: 186px;
    height: 116px;
    position: absolute;
    z-index: 6;
    top: -17px;
    left: 17px;
    margin: 0px;
    padding: 0px;
  }
  
  /* line 477, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .home-cover .home-col2 .home-links {
    display: block;
    margin: 45px 0px 16px 0px;
    padding: 16px 0px 16px 0px;
    border-top: 1px solid #b3b3b3;
  }
  
  /* line 483, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .home-cover .home-col2 .home-links ul {
    margin: 0px 0px 0px 0px;
    list-style-type: none;
    padding: 0px 0px 0px 15px;
  }
  
  /* line 488, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .home-cover .home-col2 .home-links ul li {
    font-family: "Open Sans", sans-serif;
    color: #4d4d4d;
    font-size: 16px;
    position: relative;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px !important;
    line-height: 2;
    text-transform: capitalize;
  }
  
  /* line 498, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .home-cover .home-col2 .home-links ul li::before {
    content: "";
    width: 7px;
    height: 11px;
    display: block;
    position: absolute;
    z-index: 7;
    top: 11px;
    left: -15px;
    background-image: url("assets/img/bullet-home-links.svg");
    background-repeat: no-repeat;
  }
  
  /* line 517, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .btn-search {
    background-color: #022644;
    color: #fff;
  }
  
  /* line 522, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .qt-banner {
    display: block;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: #022644;
  }
  
  /* line 527, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .qt-banner .qt-banner-cont {
    max-width: 1171px;
    margin: 0px auto;
    overflow: hidden;
    min-height: 142px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  @media screen and (max-width: 768px) {
    /* line 527, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
    .qt-banner .qt-banner-cont {
      display: block;
      padding: 20px 0px 20px 0px;
    }
  }
  
  /* line 540, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .qt-banner .qt-banner-cont .qt-box-logo {
    width: 185px;
    height: 53px;
    margin: 0px;
    padding: 0px;
    align-self: center;
  }
  
  @media screen and (max-width: 768px) {
    /* line 540, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
    .qt-banner .qt-banner-cont .qt-box-logo {
      display: block;
      margin: 0px auto 20px auto;
    }
  }
  
  /* line 552, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .qt-banner .qt-banner-cont .qt-box-text {
    width: 276px;
    margin: 0px;
    padding: 0px;
    align-self: center;
  }
  
  @media screen and (max-width: 768px) {
    /* line 552, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
    .qt-banner .qt-banner-cont .qt-box-text {
      display: block;
      margin: 0px auto 20px auto;
    }
  }
  
  /* line 565, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .qt-banner .qt-banner-cont .qt-box-text ul {
    margin: 0px 0px 0px 0px;
    list-style-type: none;
    padding: 0px 0px 0px 0px;
  }
  
  @media screen and (max-width: 768px) {
    /* line 565, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
    .qt-banner .qt-banner-cont .qt-box-text ul {
      margin: 0px 0px 0px 20px;
    }
  }
  
  /* line 572, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .qt-banner .qt-banner-cont .qt-box-text ul li {
    font-family: "Open Sans", sans-serif;
    color: #a9b5bf;
    font-size: 18px;
    position: relative;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px !important;
    line-height: 1.5;
    text-transform: capitalize;
  }
  
  @media screen and (max-width: 768px) {
    /* line 572, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
    .qt-banner .qt-banner-cont .qt-box-text ul li {
      font-size: 16px;
    }
  }
  
  /* line 586, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .qt-banner .qt-banner-cont .qt-box-text ul span {
    margin: 0px 5px 0px 0px;
  }
  
  /* line 591, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .qt-banner .qt-banner-cont .qt-box-button {
    width: 250px;
    height: 48px;
    margin: 0px;
    padding: 0px;
    align-self: center;
  }
  
  @media screen and (max-width: 768px) {
    /* line 591, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
    .qt-banner .qt-banner-cont .qt-box-button {
      display: block;
      margin: 0px auto 0px auto;
    }
  }
  
  /* line 603, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .qt-banner .qt-banner-cont .qt-box-button .button-qt {
    color: #a9b5bf;
    background-color: transparent;
    border: 1px solid #a9b5bf;
    font-size: 22px;
    width: 250px;
    font-weight: 300;
    font-family: open sans;
  }
  
  @media screen and (max-width: 768px) {
    /* line 603, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
    .qt-banner .qt-banner-cont .qt-box-button .button-qt {
      font-size: 18px;
      width: 200px;
      display: block;
      margin: 0px auto;
    }
  }
  
  /* line 616, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .qt-banner .qt-banner-cont .qt-box-button .button-qt:hover {
    background-color: #a9b5bf;
    color: #021726;
  }
  
  /* line 625, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .icons-bar {
    display: block;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: #fff;
  }
  
  /* line 630, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .icons-bar .icons-bar-cont {
    max-width: 1171px;
    margin: 0px auto;
    overflow: hidden;
    min-height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  @media screen and (max-width: 480px) {
    /* line 630, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
    .icons-bar .icons-bar-cont {
      display: block;
      padding: 0px 0px 20px 0px;
    }
  }
  
  /* line 643, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .icons-bar .icons-bar-cont .icon-block {
    width: 250px;
    height: 165px;
    display: block;
    align-self: center;
    position: relative;
    text-align: center;
  }
  
  @media screen and (max-width: 480px) {
    /* line 643, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
    .icons-bar .icons-bar-cont .icon-block {
      width: 100%;
      margin: 30px 0px 0px 0px;
    }
  }
  
  /* line 655, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .icons-bar .icons-bar-cont .icon-block .icon-text {
    text-align: center;
    display: block;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    position: absolute;
    z-index: 8;
    bottom: 20px;
    width: 100%;
  }
  
  /* line 665, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .icons-bar .icons-bar-cont .icon-block .icon-text p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    color: #4d4d4d;
  }
  
  /* line 676, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .icons-bar .air-join {
    margin: 20px 0px 0px 0px;
  }
  
  /* line 679, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .icons-bar .air-crime {
    margin: 20px 0px 0px 0px;
  }
  
  /* line 684, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .quote-bar {
    display: block;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: #f7f7fa;
  }
  
  @media screen and (max-width: 1024px) {
    /* line 684, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
    .quote-bar {
      padding: 0px 30px 0px 30px;
    }
  }
  
  /* line 692, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .quote-bar .quote-bar-cont {
    display: block;
    max-width: 1171px;
    margin: 0px auto 0px auto;
    padding: 82px 0px 82px 0px;
    overflow: hidden;
  }
  
  @media screen and (max-width: 480px) {
    /* line 692, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
    .quote-bar .quote-bar-cont {
      padding: 42px 0px 42px 0px;
    }
  }
  
  /* line 703, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .quote-bar .quote-bar-cont h1 {
    font-family: "Open Sans", sans-serif;
    color: #4d4d4d;
    font-size: 30px;
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 0px 0px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
  }
  
  @media screen and (max-width: 480px) {
    /* line 703, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
    .quote-bar .quote-bar-cont h1 {
      font-size: 28px;
    }
  }
  
  /* line 717, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .quote-bar .quote-bar-cont p {
    font-family: "Open Sans", sans-serif;
    color: #4d4d4d;
    font-size: 22px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    line-height: 1.3;
    text-align: center;
    font-weight: 300;
  }
  
  @media screen and (max-width: 480px) {
    /* line 717, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
    .quote-bar .quote-bar-cont p {
      font-size: 16px;
    }
  }
  
  /* line 733, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .footer-1 {
    display: block;
    margin: 30px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: #022644;
  }
  
  /* line 738, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .footer-1 .footer-1-cont {
    display: block;
    max-width: 1171px;
    margin: 0px auto 0px auto;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
    min-height: 272px;
  }
  
  @media screen and (max-width: 480px) {
    /* line 738, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
    .footer-1 .footer-1-cont {
      padding: 0px 0px 40px 0px;
    }
  }
  
  @media screen and (max-width: 480px) {
    /* line 750, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
    .footer-1 .col-footer {
      padding: 0px 0px 0px 40px;
    }
  }
  
  /* line 756, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .footer-1 h2 {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin: 40px 0px 30px 0px;
    color: #fff;
    text-transform: uppercase;
  }
  
  /* line 766, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .footer-1 ul {
    margin: 0px 0px 0px 0px;
    list-style-type: none;
    padding: 0px 0px 0px 0px;
  }
  
  /* line 770, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .footer-1 ul li {
    font-family: "Open Sans", sans-serif;
    color: #a9b5bf;
    font-size: 16px;
    position: relative;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px !important;
    line-height: 1.5;
  }
  
  @media screen and (max-width: 768px) {
    /* line 770, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
    .footer-1 ul li {
      font-size: 14px;
    }
  }
  
  /* line 784, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .footer-1 .qt-box-logo-footer {
    display: block;
    margin: 24px 0px 0px 0px;
  }
  
  /* line 793, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  #modal-tamano {
    max-width: 830px !important;
  }
  
  @media screen and (max-width: 768px) {
    /* line 793, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
    #modal-tamano {
      width: auto !important;
    }
  }
  
  /* line 800, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .modal-title {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #f7f7fa;
    font-weight: 400;
    display: block;
    text-align: center;
  }
  
  /* line 812, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  #Modal-x {
    width: 780px !important;
  }
  
  @media screen and (max-width: 768px) {
    /* line 812, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
    #Modal-x {
      width: auto !important;
    }
  }
  
  /* line 817, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  #Modal-x h2 {
    font-size: 24px;
    color: #022644;
    font-weight: 700;
    text-transform: capitalize;
  }
  
  /* line 822, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  #Modal-x h2::before {
    content: "";
    display: block;
    width: 6px;
    height: 60px;
    background-color: #022644;
    margin: 0px 0px 0px -20px;
    padding: 0px 0px;
    position: absolute;
    z-index: 9;
  }
  
  /* line 834, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  #Modal-x .modal-col {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 10px 30px;
  }
  
  @media screen and (max-width: 768px) {
    /* line 834, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
    #Modal-x .modal-col {
      width: 100%;
      float: none;
      padding: 0px 0px;
    }
  }
  
  /* line 846, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  #Modal-x .modal-text {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 30px;
  }
  
  @media screen and (max-width: 768px) {
    /* line 846, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
    #Modal-x .modal-text {
      width: 100%;
      float: none;
      padding: 0px 0px;
    }
  }
  
  /* line 857, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  #Modal-x .modal-div {
    display: block;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
  }
  
  /* line 866, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .bg-header-modal {
    background-color: #808080;
  }
  
  /* line 870, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .modal-title-x {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #000;
    font-weight: 700;
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
  }
  
  /* line 882, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .modal-body {
    overflow: hidden;
    padding: 15px 20px;
  }
  
  /* line 887, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .btn-send-message {
    color: #fff;
    background: #4d4d4d;
    display: block;
  }
  
  /* line 894, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .home-body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6;
    color: #808080;
    background: #ebebea;
    height: 100%;
    position: relative;
  }
  
  /* line 905, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  a {
    color: "Open Sans", sans-serif;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  
  /* line 908, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  a:hover, a:active, a:focus {
    color: #022644;
    outline: none;
  }
  
  /* line 913, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  p {
    margin-bottom: 1.5em;
  }
  
  /* line 918, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  ::-webkit-selection {
    color: #000;
    background: #edd76c;
  }
  
  /* line 923, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  ::-moz-selection {
    color: #000;
    background: #edd76c;
  }
  
  /* line 928, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  ::selection {
    color: #000;
    background: #edd76c;
  }
  
  @media screen and (max-width: 480px) {
    /* line 936, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
    .col-xxs-12 {
      float: none;
      width: 100%;
    }
  }
  
  /* line 942, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .row-bottom-padded-lg {
    padding-bottom: 7em;
  }
  
  @media screen and (max-width: 768px) {
    /* line 942, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
    .row-bottom-padded-lg {
      padding-bottom: 2em;
    }
  }
  
  /* line 948, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .row-bottom-padded-md {
    padding-bottom: 4em;
  }
  
  @media screen and (max-width: 768px) {
    /* line 948, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
    .row-bottom-padded-md {
      padding-bottom: 2em;
    }
  }
  
  /* line 954, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
  .row-bottom-padded-sm {
    padding-bottom: 2em;
  }
  
  @media screen and (max-width: 768px) {
    /* line 954, /Applications/MAMP/htdocs/hpd-v9/sass/style.scss */
    .row-bottom-padded-sm {
      padding-bottom: 2em;
    }
  }
  
  .space-top {
    margin-top: 25px;
  }
  
  /*# sourceMappingURL=../css/style.map */
  
  
  /* ---------------------------------------- OUR DEPARTMENT ---------------------------------------- */
  
  .bread-crumbs-blue {
  
    font-family: "Open Sans";
    font-size: 28px;
    font-weight: 400;
    color: #055b96;
    }
  
    .fa-chevron-right {
  
    font-size: 20px;
    font-weight: 400;
    color: #055b96;
    }
  
    .bread-crumbs-black {
  
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: 400;
    color: #4d4d4d;
    }
  
    .officer-ID-3 { background-color: #F8F8FB }
  
    .officer-image { height: auto;
               max-width: 100%;
               width: 266px;
               vertical-align: top;
               border-top-left-radius: 5px;
               border-top-left-radius: 5px;
      }
  
      .officer-info { 
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
      }
  
      .officer-info-div{ 
      color: #777777;
      text-align: center;
      border-radius: 5px;
      border-top-style: solid;
      border-bottom-style: solid;
      border-left-style: solid;
      border-right-style: solid;
      border-top-width: 1px;
      border-bottom-width: 1px;
      border-left-width: 1px;
      border-right-width: 1px;
      border-top-color: #f2edfe;
      border-bottom-color: #f2edfe;
      border-left-color: #f2edfe;
      border-right-color: #f2edfe;
      padding: 0px !important;
  
      width: 235px;
      background-color: #ffffff;
    }
  
    .officer-name-div { 
      color: #777777;
      text-align: left;
      border-top-style: solid;
      border-bottom-style: solid;
      border-left-style: solid;
      border-right-style: solid;
      border-top-width: 1px;
      border-bottom-width: 1px;
      border-left-width: 1px;
      border-right-width: 1px;
      border-top-color: #f2edfe;
      border-bottom-color: #f2edfe;
      border-left-color: #f2edfe;
      border-right-color: #f2edfe;
    padding: 5px;
    padding-left: 15px;
    width: 235px;
    background-color: #ffffff
    }
  
    .officer-name {
    font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      font-weight: 300;
    }
  
    .officer-position {
    font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: 16px;
    }
  
    .officer-block {
    margin-bottom: 25px;
    }
  
    .officer-view-profile { 
    margin-right: 15px 
    }
  
    .officer-title {
    color: #4d4d4d;
    font-size: 24px;
      font-family: 'Open Sans', sans-serif;
    }
  
    /* ---------------------------------------- CHIEF'S MESSAGE ---------------------------------------- */
  
  
  
    .bread-crumbs-blue {
  
    font-family: "Open Sans";
    font-size: 28px;
    font-weight: 400;
    color: #055b96;
    }
  
    .fa-chevron-right {
  
    font-size: 20px;
    font-weight: 400;
    color: #055b96;
    }
  
    .bread-crumbs-black {
  
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: 400;
    color: #4d4d4d;
    }
  
    .chief-img-container { padding-right: 0px;
             padding-left: 0px;
            }
  
    .chief-image { height: auto;
               max-width: 100%;
               width: 266px;
               vertical-align: top;
            }
  
      .chief-info { 
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
      }
  
      .chief-info-div{ 
      color: #777777;
      text-align: center;
      border-top-style: solid;
      border-bottom-style: solid;
      border-left-style: solid;
      border-right-style: solid;
      border-top-width: 1px;
      border-bottom-width: 1px;
      border-left-width: 1px;
      border-right-width: 1px;
      border-top-color: #f2edfe;
      border-bottom-color: #f2edfe;
      border-left-color: #f2edfe;
      border-right-color: #f2edfe;
    padding: 0px;
    width: 266px;
    }
  
    .chief-title {    
    font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 21.0px;
      color: #003366;
      text-align: left
    }
  
    .chief-message { 
    font-weight: 400;
      font-family: 'Open Sans', sans-serif;
      color: #4d4d4d;
    }
  
    .chief-kind {
      font-weight: 700;
    }
  
    .chief-name {
      font-size: 18px;
      color: #003366;
      font-weight: 700;
  }
  
  
    /* ---------------------------------------- FALLEN OFFICERS ---------------------------------------- */
  
    .bread-crumbs-blue {
  
    font-family: "Open Sans";
    font-size: 28px;
    font-weight: 400;
    color: #055b96;
    }
  
    .fa-chevron-right {
  
    font-size: 20px;
    font-weight: 400;
    color: #055b96;
    }
  
    .bread-crumbs-black {
  
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: 400;
    color: #4d4d4d;
    }
  
    .fallen-officer-ID-3 { 
      background-color: #F8F8FB;
      padding-top: 45px;
      padding-bottom: 45px;
    }
  
    .fallen-officer-image { height: auto;
               max-width: 100%;
               width: 266px;
               vertical-align: top;
               border-top-left-radius: 5px;
               border-top-left-radius: 5px;
      }
  
      .fallen-officer-info { 
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
      }
  
      .fallen-officer-info-div{ 
      color: #777777;
      text-align: center;
      border-radius: 5px;
      border-top-style: solid;
      border-bottom-style: solid;
      border-left-style: solid;
      border-right-style: solid;
      border-top-width: 1px;
      border-bottom-width: 1px;
      border-left-width: 1px;
      border-right-width: 1px;
      border-top-color: #f2edfe;
      border-bottom-color: #f2edfe;
      border-left-color: #f2edfe;
      border-right-color: #f2edfe;
    padding: 0px;
    width: 235px;
    background-color: #ffffff;
    }
  
    .fallen-officer-name-div { 
      color: #777777;
      text-align: left;
      border-top-style: solid;
      border-bottom-style: solid;
      border-left-style: solid;
      border-right-style: solid;
      border-top-width: 1px;
      border-bottom-width: 1px;
      border-left-width: 1px;
      border-right-width: 1px;
      border-top-color: #f2edfe;
      border-bottom-color: #f2edfe;
      border-left-color: #f2edfe;
      border-right-color: #f2edfe;
    padding: 5px;
    padding-left: 15px;
    width: 235px;
    background-color: #ffffff
    }
  
    .fallen-officer-message { 
    font-weight: 400;
      font-family: 'Open Sans', sans-serif;
      color: #4d4d4d;
      font-size: 18px;
    }
  
    .fallen-officer-name {
    font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      font-weight: 300;
    }
  
    .fallen-officer-position {
    font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: 16px;
    }
  
    .fallen-officer-block {
    margin-bottom: 25px;
    }
  
    .fallen-officer-info-block {
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    }
  
    .fallen-officer-view-profile { 
    margin-right: 15px 
    }
  
    .fallen-officer-title {
    color: #4d4d4d;
    font-size: 24px;
      font-family: 'Open Sans', sans-serif;
    }
  
  
    /* ---------------------------------------- PROFILE OFFICER ---------------------------------------- */
  
    .officer-data {
    min-height: 90px;
    margin: 0px 0px 40px 0px;
    overflow: hidden;
  }
  
  .officer-data .block-data {
    min-width: 100px;
    height: 90px;
    float: left;
    border-right: 1px solid #cacaca;
    padding: 18px 25px 0px 0px;
    box-sizing: border-box;
  }
  
  @media (max-width: 768px) {
    .officer-data .block-data {
      margin: 20px 20px 0px 0px;
      border-right: none;
    }
  }
  
  .officer-data h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #345b92;
    margin: 0px 0px 10px 0px;
    padding: 0px;
    text-transform: uppercase;
  }
  
  .officer-data p {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #808080;
    margin: 0px 0px 0px 0px;
    padding: 0px;
  }
  
  .officer-data .space-block {
    margin: 0px 0px 0px 25px;
  }
  
  @media (max-width: 768px) {
    .officer-data .space-block {
      margin: 20px 0px 0px 0px;
    }
  }
  
  .officer-bio {
    display: block;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 80px 0px;
  }
  
  .officer-bio h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #345b92;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 20px 0px;
    text-transform: uppercase;
  }
  
  .officer-bio p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #808080;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 16px 0px;
  }
  
  .officers-carrusel {
    min-height: 271px;
    background-color: #f7f7fa;
    padding: 25px 0px 0px 0px;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  @media (max-width: 768px) {
    .officers-carrusel {
      display: none;
    }
  }
  
  .officers-carrusel h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #808080;
    margin: 130px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-transform: capitalize;
  }
  
  @media (max-width: 768px) {
    .officers-carrusel h4 {
      margin: 0px 0px 0px 0px;
      padding: 25px 0px 25px 0px;
    }
  }
  
  .officers-carrusel .officer-name {
    font-size: 16px !important;
  }
  
  .officers-carrusel .officer-position {
    font-size: 12px !important;
  }
  
  .carousel-control-prev {
    left: -80px;
  }
  
  .carousel-control-next {
    right: -65px;
  }
  
  .carousel-control-prev-icon {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-image: url("assets/img/icon-left.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    width: 23px;
    height: 40px;
    overflow: hidden;
    display: block;
  }
  
  .carousel-control-next-icon {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-image: url("assets/img/icon-right.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    width: 23px;
    height: 40px;
    overflow: hidden;
    display: block;
  }
  
  /* ---------------------------------------- NEWS AND EVENTS OFFICER ---------------------------------------- */
  
   .news-block {
    margin-left: 25px;
    border-radius: 5px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #f2edfe;
    border-bottom-color: #f2edfe;
    border-left-color: #f2edfe;
    border-right-color: #f2edfe;
    background-color: #ffffff;
    margin-bottom:30px;
    margin-top: 5px;
    }
  
    .news-date {
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      color: #777777;
      font-size: 13px;
      margin-top: 6px;
      margin-bottom: 6px;
    }
  
    .news-title {
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      font-weight: 500;
      color: #777777;
      padding-top: 6px;
      line-height: 15px;
    }
  
    .news-image { 
               height: auto;
               max-width: 100%;
               width: 266px;
               height: 100%; 
               vertical-align: top;
               border-top-left-radius: 5px;
               border-top-left-radius: 5px;
               object-fit: cover;
      }
  
     .news-info-div{ 
      color: #777777;
      text-align: center;
      border-radius: 5px;
      border-top-style: solid;
      border-bottom-style: solid;
      border-left-style: solid;
      border-right-style: solid;
      border-top-width: 1px;
      border-bottom-width: 1px;
      border-left-width: 1px;
      border-right-width: 1px;
      border-top-color: #f2edfe;
      border-bottom-color: #f2edfe;
      border-left-color: #f2edfe;
      border-right-color: #f2edfe;
      padding: 0px;
      width: 235px;
    }
  
    .news-info{ 
      color: #777777;
      font-size: 14px;
      text-align: center;
      border-top-style: solid;
      border-top-width: 1px;
      border-top-color: #f2edfe;
      padding: 0px;
      width: 80%;
      position: absolute;
      bottom: 0px;
      text-align: left;
    }
  
    .news-link { 
    margin-right: 35px 
    }
  
    .news-message {
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      color: #777777;
      font-size: 12px;
      line-height: 15px;
      margin-bottom:50px; }
  
      .news-block-div {
        padding-top: 10px;
  
      } 
  
      .news-title-small {
      display: inline-flex;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: 600;
      color: #777777;
      padding-top: 6px;
      line-height: 17px;
    }
  
      .news-date-small {
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      color: #777777;
      font-size: 11px;
      margin-bottom: 6px;
      margin-top: 3px;
    }
  
    .news-message-small {
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      color: #777777;
      font-size: 11px;
      line-height: 15px;
      margin-bottom:35px; }
  
     .news-image-small { 
     max-width: 100%;
     width: 266px;
     height: 168px;
     vertical-align: top;
     border-top-left-radius: 5px;
     border-top-left-radius: 5px;
     object-fit: cover;
      }
  
    .col-custom {
      width:29% !important;
      margin-right: 10px;
    }
  
    .news-link-small { 
    margin-right: 15px;
    font-size: 9px;
    }
  
    .news-share { 
    font-size: 9px;
    }
  
    @media (max-width: 1180px) {
    .col-custom {
      width:45% !important;
      margin-right: 20px;
      border:0px;
    }
  
    .news-link { 
    margin-right: 5px 
    }
  }
  
    @media (max-width: 1000px) {
    .col-custom {
      width:45% !important;
      margin-right: 20px;
      border:0px;
    }
  
    
  }
   
   .col-custom-media {
      width:29% !important;
      margin-right: 10px;
    }
  
  @media (max-width: 1900px) {
    .col-custom-media {
      width:45% !important;
      margin-right: 20px;
      border:0px;
    }
}